@use "Variables_mixins.scss" as mv;

.newsletter{
   color: mv.$color_white;
   @include mv.tamaños(null,50%);
   text-align: center;
   margin: 0 auto 10em; 
   /* border: 2px solid yellow; */
   .title_newsletter{
    font-size: 2.1em;
   }
   .text_newsletter{
    @include mv.tamaños(null,55%);
    margin: 0 auto 2em;
   }
   .form_newsletter{
       @include mv.flex_box(flex,space-evenly,center,null);
       @include mv.tamaños(null,100%);
       margin: 0 auto;
       border-radius: 15px;
       background: linear-gradient(
            90deg,
            hsl(103, 33%, 33%) 0%,
            hsl(59, 25%, 35%) 100%
          );
          padding: 2em;
       input{
           border:none;
           outline: none;
           background-color: transparent;
           color: #ccc;
           padding: 1em;
           @include mv.tamaños(null,50%)
       }
       .btn_newsletter{
           @include mv.button_naranja()
       }
   }
}